[Unit]
Description=Run WPSD Nightly Tasks at random times between 0159 and 0359 (local time)

[Timer]
# Run the service daily at 01:59 (local time) with up to 2 hours of random delay
OnCalendar=*-*-* 01:59
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target

